/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e6f7ff;
}

/* Header, Navigation, and Footer Styles */
header, nav, footer {
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #666; /* Lighter gray */
    font-size: 1.5em;
}

header img {
    height: 40px;
    margin-right: 10px;
}

nav, footer {
    background-color: #001f3f; /* Dark navy blue */
}

nav {
    font-size: 1.2em;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 90px;
}

/* Form Containers */
.login-form, .form-container, .student-record-container, .email-form-container, .report-parameters-container, .report-results-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Headings */
.login-form h2, .options-container h2 {
    text-align: center;
    margin-top: 0;
}

/* Form Inputs and Labels */
.login-form label, .email-form label, .report-parameters-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.email-form input[type="text"],
.email-form select,
.email-form textarea,
.report-parameters-form input[type="date"],
.report-parameters-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.email-form textarea {
    resize: vertical;
}

/* Buttons */
button, .option-button, .email-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #001f3f;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

button:hover, .option-button:hover, .email-button:hover {
    background-color: #003366; /* Slightly lighter blue */
}

/* Option Buttons */
.option-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Results and Tables */
.results-container, .report-summary {
    padding: 20px;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto 0;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #001f3f;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Links */
a {
    color: inherit;
    text-decoration: none;
    display: block;
}
